---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% comment %}{% include skills-section.html %}{% endcomment %}

{% comment %}{% include experience-section.html %}{% endcomment %}

{% comment %}{% include education-section.html %}{% endcomment %}

{% include services-section.html %}

{% comment %}{% include portfolio-section.html %}{% endcomment %}

{% comment %}{% include testimonial-section.html %}{% endcomment %}

{% comment %}{% include client-section.html %}{% endcomment %}

{% include blog-section.html %}